<h1>My First Rails Girls</h1>
  <div>
    <h2>La vitta è bella!</h2>
    <div>
      <p>"How we spend our days is, of course, how we spend our lives."</p>
      <p>"Life is an unfoldment, and the further we travel the more truth we can comprehend. To understand the things that are at our door is the best preparation for understanding those that lie beyond."</p>
      <img src="http://bboceansuites.com/wp-content/uploads/2015/05/sunset-beach-chairs-stock-footage.jpg" height="400">
    </div>
      
    <h2>HTML</h2>
      <p>To learn more about HTML</p>
      <a href="http://www.w3schools.com/html/">Visit HTML tutorial</a>
    <h2>Find me</h2>
     
      <a href="mailto:tatjana.knez.18@gmail.com">Send me an email</a>
  </div>
