<h1>My First Rails Girls</h1>
  <div>
    <h2>La vitta è bella!</h2>
    <div>
      <p>"Life is so damn short. For fuck sake, just do what makes you happy."</p>
      <img src="http://bboceansuites.com/wp-content/uploads/2015/05/sunset-beach-chairs-stock-footage.jpg" height="400">
    </div>
      
    <h2>HTML</h2>
      <p>To learn more about HTML</p>
      <a href="http://www.w3schools.com/html/">Visit HTML tutorial</a>
    <h2>Find me</h2>
     
      <a href="mailto:tatjana.knez.18@gmail.com">Send me an email</a>
  </div>
